@for $i from 0 through 5 {
  $size: $i * 10;
  .p-#{$size} {
    padding: #{$size}px !important;
  }
  .p-h-#{$size} {
    padding-left: #{$size}px !important;
    padding-right: #{$size}px !important;
  }
  .p-v-#{$size} {
    padding-top: #{$size}px !important;
    padding-bottom: #{$size}px !important;
  }
  .p-t-#{$size} {
    padding-top: #{$size}px !important;
  }
  .p-r-#{$size} {
    padding-right: #{$size}px !important;
  }
  .p-b-#{$size} {
    padding-bottom: #{$size}px !important;
  }
  .p-l-#{$size} {
    padding-left: #{$size}px !important;
  }
  .m-#{$size} {
    margin: #{$size}px !important;
  }
  .m-h-#{$size} {
    margin-left: #{$size}px !important;
    margin-right: #{$size}px !important;
  }
  .m-v-#{$size} {
    margin-top: #{$size}px !important;
    margin-bottom: #{$size}px !important;
  }
  .m-t-#{$size} {
    margin-top: #{$size}px !important;
  }
  .m-r-#{$size} {
    margin-right: #{$size}px !important;
  }
  .m-b-#{$size} {
    margin-bottom: #{$size}px !important;
  }
  .m-l-#{$size} {
    margin-left: #{$size}px !important;
  }
}

.no-wrap {
  white-space: nowrap;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}