{% extends 'admin/layout.twig' %}

{% block links %}


    {% if vars['type'] is empty %}
        <button type="button" class="btn-csv btn btn-primary">
            <i class="fa fa-"></i> Baixar CSV
        </button>
    {% endif %}

    <button type="button" onclick="$('.admpage-form').setValues({});" class="btn btn-success">
        <i class="fa fa-plus"></i> Novo
    </button>

{% endblock %}

{% block main %}

    {% include 'admin/usuarios/form.twig' %}

    <div class="modal fade modal-credito" onsubmit="return false;">
        <input type="hidden" name="user" required/>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" data-dismiss="modal">&times;</div>
                    <h3 class="modal-title">Crédito</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Créditos</label>
                        <input type="text" name="credito" class="form-control input-lg mask-valor"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-danger btn-remover">
                            Remover
                        </button>
                    </div>
                    <button class="btn btn-primary btn-adicionar">
                        Adicionar
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if vars['type'] is empty %}
        <form class="admpage-form-search panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-9 col-sm-12 col-xs-12">
                        <label>Nome, login, cpf, cidade ou e-mail</label><span class="pointer" data-toggle="popover"
                                                                               data-trigger="hover"
                                                                               data-content="Digite o nome, cidade, cpf, login ou e-mail"
                                                                               data-original-title=""
                                                                               title="">[<i class="fa fa-question"></i>]</span>
                        <input type="text" name="search" class="form-control"/>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 col-xs-6">
                        <label>Telefone</label><span class="pointer" data-toggle="popover" data-trigger="hover"
                                                     data-content="Digite o telefone Ex.: (87) 99999-9999"
                                                     data-original-title=""
                                                     title="">[<i class="fa fa-question"></i>]</span>
                        <input type="text" name="telefone" class="form-control mask-telefone"/>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 col-xs-6">
                        <label>Licença</label><span class="pointer" data-toggle="popover" data-trigger="hover"
                                                    data-content="Selecione se o usuário pagou o plano ou não o plano"
                                                    data-original-title=""
                                                    title="">[<i class="fa fa-question"></i>]</span>
                        <select type="text" name="pagouplano" class="form-control">
                            <option value>-- Ambos --</option>
                            <option value="1">Ativa</option>
                            <option value="0">Inativa</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                        <label>Recarga mínima</label><span class="pointer" data-toggle="popover" data-trigger="hover"
                                                           data-content="Selecione se está em dia com a recarga mensal"
                                                           data-original-title=""
                                                           title="">[<i class="fa fa-question"></i>]</span>
                        <select name="emdia" class="form-control">
                            <option value>-- Ambos --</option>
                            <option value="1">Pago</option>
                            <option value="0">Pendente</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                        <label>Licença</label><span class="pointer" data-toggle="popover" data-trigger="hover"
                                                    data-content="Selecione o tipo de licença"
                                                    data-original-title=""
                                                    title="">[<i class="fa fa-question"></i>]</span>
                        <select name="type" class="form-control">
                            <option value>-- Ambos --</option>
                            <option value="8">Jogador</option>
                            <option value="9">Consultor</option>
                            <option value="4">Franqueado</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                        <label>Data de cadastro</label><span class="pointer" data-toggle="popover" data-trigger="hover"
                                                             data-content="Selecione ou digite a data"
                                                             data-original-title=""
                                                             title="">[<i class="fa fa-question"></i>]</span>
                        <input type="date" name="datacadastro" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
            </div>
        </form>
    {% endif %}

    <div class="page-container"></div>


{% endblock %}

{% block script %}

    <script>

        var container = $('.page-container');
        var modalCredito = $('.modal-credito');

        var formSearch = $('.admpage-form-search');
        var page = $('<div />')
            .adminPage({
                form: '.admpage-form',
                searchValues: {{ json(vars) }},
                saveValues: {{ json(vars) }},
                container: container,
                formSearch: formSearch,
            });

        modalCredito
            .on("click", '.btn-remover, .btn-adicionar', function () {
                if (!$("html").hasClass('page-loading')) {

                    var values = {};

                    values.user = modalCredito.attr('data-user');
                    values.credito = modalCredito.find('[name=credito]').val();
                    values.pontos = modalCredito.find('[name=pontos]').val();
                    values.acao = $(this).hasClass('btn-remover') ? 'remover' : 'adicionar';

                    $('html').addClass('page-loading');

                    $.post(url('users/users/credito'), values, function (e) {

                        swal(
                            'Aviso',
                            e.message,
                            'success'
                        );

                        if (e.result == 1) {
                            modalCredito.modal("hide").find("input").val('');
                            page.reloadSearch();
                        }
                    }, 'json')
                        .always(function () {
                            $('html').removeClass('page-loading');
                        });

                }
            });

        container
            .on('click', '[data-credito]', function () {
                modalCredito.attr("data-user", $(this).attr('data-credito'));
                modalCredito.modal('show');
            });

        $('.btn-csv')
            .click(function () {
                window.location.href = url('users/users/csv') + '?' + $.param(formSearch.getValues());
            });

    </script>

{% endblock %}