<!DOCTYPE html>
<html>
<head>
    <title>Email - Uol Bet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        td {
            text-align: justify;
        }

        p {
            margin-top: 0px;
        }
    </style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table id="Tabela_01" width="602" height="350" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>

    <tr>
        <td colspan="3" bgcolor="#F0F1F1"
            style="border-left: 1px solid #ECECEC;border-right: 1px solid #ECECEC;border-bottom: 1px solid #ECECEC;border-top: 1px solid #ECECEC;">
            <img src="{{base_url()}}/img/email_topo.jpg" height="100" width="600" border="0">
        </td>
    </tr>

    <tr style="">
        <td width="15" height="137" bgcolor="#FFF" style="border-left: 1px solid #ECECEC;">&nbsp;</td>
        <td width="574" valign="top" bgcolor="#FFF" style="">

            <fieldset style=" border: 1px solid #bababa; text-align: left;margin-top: 20px;margin-bottom : 30px">
                <legend style="

                                    margin: 0 0 2px 0;
                                    line-height: 33px;
                                    font-size: 14px;
                                    font-weight: bold;
                                    text-align: left;
                                    text-transform: uppercase;">
                    Mensagem
                </legend>
                <span style="text-align: justify;
                                  display: block;
                                  margin: 0px 0 10px 0;">
                                <p>Prezado <strong>Fábio Henrique da Siva Siqueira</strong> ,</p>
                                <p>Seu cadasro no nosso sistema foi realizado com sucesso.</p>
                                <p>Você já pode acessar o nosso sistema.</p>
                            </span>
            </fieldset>

        </td>
        <td width="13" bgcolor="#FFFFFF" style="border-right: 1px solid #ECECEC;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3" style="
                        border-left: 1px solid #ECECEC;
                        border-right: 1px solid #ECECEC;
                        border-bottom: 1px solid #ECECEC;
                        border-top: 1px solid #ECECEC;">
            <a href="//{{config('dominio')}}}" target="_blank">
                <img src="{{base_url()}}/img/email_rodape.jpg" height="70" width="600" border="0">
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
