{% extends 'admin/layout.twig' %}

{% block main %}

{% include 'admin/helpers/info-saldo.twig' %}

<div class="modal-apostar-success modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" data-dismiss="modal">&times;</div>
                <h3 class="modal-title">Aposta Realizada</h3>
            </div>
            <div class="modal-body">
                Aposta realizada com sucesso.
            </div>
            <div class="modal-footer">
                <a href="" target="_blank" onclick="javascript:$(this).parents('.modal').modal('hide');"
                   class="btn btn-info url-print">
                    <i class="fa fa-print"></i>
                    Imprimir
                </a>
            </div>
        </div>
    </div>
</div>

<form class="modal-apostar-duvida modal fade" onsubmit="return false;" method="post">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" data-dismiss="modal">&times;</div>
                <h3 class="modal-title">Deseja concluir a aposta?</h3>
            </div>
            <div class="modal-body no-padding">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered table-minified lista-table">
                        <thead>
                        <tr>
                            <th>Times/Campeonato</th>
                            <th width="120">Data/Hora</th>
                            <th width="120">Tipo/Cotação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="aposta-item hide">
                            <td class="text-center"><span class="td-timecasa">Celta de Vigo</span> x <span
                                        class="td-timefora">Málaga</span> <br> <b class="td-campeonato">Liga BBVA</b>
                            </td>
                            <td class="text-center"><span class="td-data">08/05/2016</span><br><span class="td-hora">12:00</span>
                            </td>
                            <td class="text-center"><span class="td-tipo">Fora</span><br><b class="td-cotacao">5,75</b>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-check"></i>
                    Apostar
                </button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="panel panel-default">

            <div class="panel-heading clearfix">
                <h4 class="panel-title">Apostar</h4>
            </div>

            <form id="form-apostar" class="panel-body" onsubmit="javascript:return false;" method="post">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="m-r-xs" for="valor">Valor
                                <small>(R$)</small>
                            </label>
                            <input type="text" class="form-control mask-valor" required="" name="valor" id="valor"
                                   placeholder="R$ 0,00">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <label class="m-r-xs" for="retorno">Cotação</label>
                            <input type="text" class="form-control text-center" id="cotacao" placeholder="1,00"
                                   disabled>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <label class="m-r-xs" for="retorno">Retorno</label>
                            <input type="text" class="form-control text-center" id="retorno" placeholder="R$ 0,00"
                                   disabled>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label class="m-r-xs" for="qtdjogos">Qtd. Jogos</label>
                            <input type="text" class="form-control text-center" id="qtdjogos" placeholder="0" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="reset" class="btn btn-link" onclick="aposta.limpaAposta()">
                            <i class="fa fa-eraser"></i>
                            Limpar
                        </button>
                        <a href="#" alt="Imprimir" class="btn btn-default hide">
                            <i class="fa fa-print"></i>
                            Imprimir
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-check"></i>
                            Apostar
                        </button>
                    </div>
                </div>
            </form>


            <div class="panel-body panel-table">
                <div class="table-jogos table-responsive m-t-md" style="width: 100%;">
                    <table id="table-jogos" class="table table-minified table-bordered table-striped list-table">
                        <thead class="thead-topo">
                        <tr class="header-apostastipos">
                            <th class="text-center text-uppercase">Campeonato</th>
                            <th class="text-center text-uppercase">Casa / Fora</th>
                            <?php
                            foreach ($cotacoes as $i => $cotacao) {
                                $class = $i % 2 == 0 ? 'dark' : 'light';
                                if ($class == 'dark') {
                                    echo '<th>';
                                }
                                if ($cotacao instanceof app\vo\CotacaoVO) {
                                    echo '<span class="cotacoes-' . $class . '" data-tipo="' . $cotacao->getCampo() . '" style="color: ' . $cotacao->getCor() . ';" >' . $cotacao->getSigla() . '</span>';
                                }
                                if ($class != 'dark') {
                                    echo '</th>';
                                }
                            }
                            ?>
                            <th class="th-acoes"></th>
                        </tr>
                        </thead>

                        <tbody>

                        <?php
                        $datas = [];
                        foreach ($jogos as $jogo) {
                            if (!in_array($jogo->getData(), $datas)) {
                                $datas[] = $jogo->getData();
                            }
                        }

                        foreach ($datas as $data) {

                            list($ano, $mes, $dia) = explode('-', $data);
                            $diaName = app\helpers\Date::getDayName($data);
                            $mesName = app\helpers\Date::getMonthName((int)$mes);

                            echo '<tr><td colspan="11" class="m-l-md heading bg-gray no-b" style="padding-left: 25px !important;"><i class="fa fa-calendar-o"></i> ' . $diaName . ', ' . $dia . ' de ' . $mesName . ' de ' . $ano . '</td></tr>';

                            $campeonatos = [];
                            foreach ($jogos as $jogo) {
                                if ($jogo->getData() == $data and !in_array($jogo->getCampeonato(), $campeonatos)) {
                                    $campeonatos[] = $jogo->getCampeonato();
                                }
                            }

                            foreach ($campeonatos as $campeonato) {

                                echo '<tr><td colspan="11" class="m-l-md heading bg-light no-b" style="padding-left: 25px !important;    background: #FFFD62;"><i class="fa fa-calendar-o"></i> ' . $campeonato . '</td></tr>';

                                foreach ($jogos as $i => $jogo) {
                                    if ($jogo instanceof app\vo\JogoVO and $jogo->getCampeonato() == $campeonato and $jogo->getData() == $data) {
                                        ?>
                                        <tr class="item-cotacao cotacao<?php echo $i ?>" data-cotacao="<?php echo $i ?>"
                                            data-tipo="" data-jogo="<?php echo $jogo->getId() ?>" data-toggle="buttons"
                                            role="row">
                                            <td class="text-center td-campeonato">
                                                <?php echo $jogo->getCampeonatoTitle() ?>
                                            </td>
                                            <td class="text-center">
                                                <b><span class="td-timecasa"><?php echo $jogo->getTimeCasaTitle() ?></span>
                                                    x
                                                    <span class="td-timefora"><?php echo $jogo->getTimeForaTitle() ?></span></b>
                                                <br/>
                                                <small><span class="td-data"><?php echo $jogo->getData(true) ?></span>
                                                    ás <span class="td-hora"><?php echo $jogo->getHora() ?></span>
                                                </small>
                                            </td>
                                            <?php
                                            foreach ($cotacoes as $ic => $cotacao) {
                                                $class = $ic % 2 == 0 ? 'dark' : 'light';
                                                if ($class == 'dark') {
                                                    echo '<td>';
                                                    $class .= ' m-b-xs';
                                                }

                                                $method = $cotacao->getCampo();

                                                echo '<span class="cotacoes-' . $class . '" >'
                                                    . '<label class="label-cotacao btn btn-default" style="' . ($cotacao->getCor() != '#000000' ? "color: white; background-color: {$cotacao->getCor()};" : null) . '">'
                                                    . '<input type="radio" class="hide" name="cotacao' . $i . '" data-type="' . $method . '" value="' . $jogo->get($method, 'real', false) . '" autocomplete="off" > ' . $jogo->get($method, 'real')
                                                    . '</label>';

                                                if ($method == 'pcerto') {
                                                    echo '<div class="placar hide m-t-xs text-center" style="width: 100%; display: inline-block;" >'
                                                        . '<input type="number" name="casaplacar" class="form-control input-sm input-placar" style="width: 70px;display: inline-block;"/>'
                                                        . '<span></span>'
                                                        . '<input type="number" name="foraplacar" class="form-control input-sm input-placar" style="width: 70px;display: inline-block;"/>'
                                                        . '</div>';
                                                }

                                                echo '</span>';

                                                if ($class == 'light') {
                                                    echo '</td>';
                                                }
                                            }
                                            ?>
                                            <td class="text-center" width="100">
                                                <div class="btn-group">
                                                    <button class="btn btn-default"
                                                            onclick="aposta.limpaJogo(<?php echo $i ?>)" id="resetRadio"
                                                            alt="Limpar">
                                                        <i class="fa fa-eraser"></i> Limpar
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                }
                            }
                        }
                        ?>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

    var aposta = {
        /*
         * Mínimo em aposta
         * @type float
         */
        apostaMinima: <?php echo $config->getApostaMinima()?>,
        /*
         * Limite de aposta
         * @type float
         */
        apostaMaxima: <?php echo $config->getApostaMaxima()?>,
        /*
         * Limite de Retorno
         * @type float
         */
        retornoMaximo: <?php echo $config->getRetornoMaximo()?>,
        /*
         * Cotação mínima
         * @type float
         */
        cotacaoMinima: <?php echo $config->getCotacaoMinima()?>,
        /*
         * Cotação Máxima
         * @type float
         */
        cotacaoMaxima: <?php echo $config->getCotacaoMaxima()?>,
        /**
         */
        minJogos: <?php echo $config->getMinJogos(); ?>,
        /*
         * Inicia a aplicação
         * @returns {undefined}
         */
        __init: function () {

            // Atualiza o plugin uniform
            $('.label-cotacao input').change(function () {
                var tr = $(this).parents('tr[data-cotacao]');
                tr.attr("data-tipo", $(this).attr('data-type'));
                tr.addClass('apostar success');
                $.uniform.update(tr.find("input"));
            });

            // Calcula o retorno
            $('input:radio, #valor').bind("keyup change", aposta.getValorRetorno);

            // Desabilitando cotações vazias
            aposta.desabilitaVazios();

            // Abre modal da Aposta
            $('#form-apostar').submit(aposta.abreModalAposta);

            // Concluí aposta
            $('.modal-apostar-duvida').submit(aposta.concluirAposta);

        },
        /**
         * Limpa toda a aposta
         * @return {void}
         */
        limpaAposta: function () {
            $('#apostador, #valor').val('');
            $('tr[data-cotacao]').each(function () {
                aposta.limpaJogo($(this).attr("data-cotacao"));
            });
        },
        /**
         * Limpa o jogo
         * @param {class} campoRadio
         * @return {void}
         */
        limpaJogo: function (index) {
            var tr = $('tr[data-cotacao="' + index + '"]');
            var radios = tr.find('[type=radio]');
            tr.find(".input-placar").val('');
            tr.attr('data-tipo', '');
            tr.removeClass('apostar success');
            radios.prop('checked', false);
            $.uniform.update(radios);
            radios.parents('label').removeClass('active');
            tr.change();
            aposta.getValorRetorno();
        },
        /**
         * Retorna o valor da aposta
         * @returns {float}
         */
        getValorAposta: function () {
            return $('#valor').val().toString().toFloat();
        },
        /**
         * Retorna o valor da cotação
         * @returns {float}
         */
        getValorCotacao: function () {
            var cotacao = 1;
            $('input:radio').filter(':checked').each(function () {
                cotacao = cotacao * $(this).attr('value').toString().toFloat();
            });
            var cotacaoMinima = Math.min(cotacao, aposta.cotacaoMaxima);
            $('#cotacao').val(cotacaoMinima.toString().toReal());
            return cotacao;
        },
        /**
         * Retorna o valor calculdo de retorno
         * @returns {float}
         */
        getValorRetorno: function () {
            var cotacao = Math.min(aposta.getValorCotacao(), aposta.cotacaoMaxima);
            var valorAposta = aposta.getValorAposta();
            var resultado = valorAposta * cotacao;
            var retornoMinimo = Math.min(resultado, aposta.retornoMaximo);
            $("#retorno").val('R$ ' + retornoMinimo.toString().toReal());
            $('#qtdjogos').val(aposta.getJogosFeitos().length);
            return resultado;
        },
        /**
         * Desabilita cotações vazias
         * @returns {undefined}
         */
        desabilitaVazios: function () {
            var inputs = $('.label-cotacao').find('input[value="0"], input[value="1"]');
            inputs.parents('label').addClass("disabled").html('0,00');
            inputs.remove();
        },
        /**
         * Retorna jogos com aposta feita
         * @returns {jQuery}
         */
        getJogosFeitos: function () {
            return $('.item-cotacao.apostar');
        },
        /*
         * Envia os dados da aposta
         */
        concluirAposta: function (e) {
            e.preventDefault();

            if (confirm('Tem certeza que deseja concluir a aposta?')) {

                var $form = $(this);
                var jogos = aposta.getJogosFeitos();
                var valorCotacao = aposta.getValorCotacao();
                var valorAposta = aposta.getValorAposta();

                if ($form.data('status') !== false) {
                    if (!jogos.length) {
                        alert('Nenhum jogo feito.');
                    } else if (aposta.minJogos && jogos.length) {
                        alert('A aposta deve conter no mínimo ' + aposta.minJogos + ' jogos.');
                    } else if (valorAposta > aposta.apostaMaxima) {
                        alert('Aposta máxima: R$ ' + aposta.apostaMaxima.toString().toReal());
                    } else if (valorAposta < aposta.apostaMinima) {
                        alert('Aposta mínima: R$ ' + aposta.apostaMinima.toString().toReal());
                    } else if (valorCotacao < aposta.cotacaoMinima) {
                        alert('Cotação mínima: ' + aposta.cotacaoMinima.toString().toReal());
                    } else {

                        $form.ajaxSubmit({
                            url: url('apostas/apostar/fazerAposta'),
                            data: aposta.getValoresAposta(),
                            dataType: 'json',
                            success: function (e) {
                                if (e.result == 1) {
                                    aposta.limpaAposta();

                                    // Fechando modal
                                    $('.modal-apostar-duvida').modal('hide');

                                    // Modal Success
                                    $('.modal-apostar-success')
                                    // Abrindo Modal
                                        .modal('show')
                                        // Defindo URL
                                        .find('.url-print').each(function () {
                                        if ($(this).hasClass('url-print')) {
                                            $(this).attr('href', e.imprimir);
                                        }
                                    });
                                } else {
                                    alert(e.message);
                                }
                            }, beforeSubmit: function () {
                                $form.data('status', false);
                            }, complete: function () {
                                $form.data('status', true);
                            }, error: function (e) {
                                _log(e.responseText);
                            }
                        });

                    }
                }
            }

            return false;

        },
        /*
         * Abre janela antes de concluir aposta
         * @returns {undefined}
         */
        abreModalAposta: function () {

            var modal = $('.modal-apostar-duvida');
            var itemClone = modal.find(".aposta-item.hide").first();
            var values = aposta.getValoresAposta();

            // Removendo itens anteriores
            modal.find(".aposta-item:not(.hide)").remove()

            // Listando os jogos
            $.each(values.jogos, function (index, jogo) {

                // Item
                var item = itemClone.clone().removeClass('hide');

                console.log(jogo);

                item.find('.td-campeonato').html(jogo.campeonato);
                item.find('.td-timecasa').html(jogo.timecasa);
                item.find('.td-timefora').html(jogo.timefora);
                item.find('.td-timecasaplacar').html(jogo.casa);
                item.find('.td-timeforaplacar').html(jogo.fora);
                item.find('.td-hora').html(jogo.hora);
                item.find('.td-data').html(jogo.data);
                item.find('.td-cotacao').html(jogo.cotacao);
                item.find('.td-tipo').html($('.header-apostastipos [data-tipo="' + jogo.tipo + '"]').first().text());

                // Adicionando item na tabela
                modal.find('tbody').append(item);

            });

            // Abre o modal
            modal.modal('show');

        },
        /*
         * Retorna os valores da aposta em um array
         * @returns {Array}
         */
        getValoresAposta: function () {

            var jogos = aposta.getJogosFeitos();
            var values = [];

            jogos.each(function () {
                values.push({
                    campeonato: $.trim($(this).find('.td-campeonato').text()),
                    cotacao: $(this).find('.label-cotacao input:checked').val(),
                    jogo: $(this).attr('data-jogo'),
                    tipo: $(this).attr('data-tipo'),
                    timecasa: $.trim($(this).find('.td-timecasa').text()),
                    timefora: $.trim($(this).find('.td-timefora').text()),
                    data: $.trim($(this).find('.td-data').text()),
                    hora: $.trim($(this).find('.td-hora').text()),
                    casa: $(this).find('[name=casaplacar]').val(),
                    fora: $(this).find('[name=foraplacar]').val(),
                });
            });

            return {
                jogos: values,
                valor: $('#form-apostar [name=valor]').val(),
            };
        }
    };

    /*
     * Item alterado
     */
    $('.item-cotacao').change(function () {
        var tipo = $(this).attr('data-tipo');
        if (tipo == 'pcerto') {
            $(this).find(".placar").removeClass('hide').find('input').first().focus();
        } else {
            $(this).find(".placar").addClass('hide');
        }
    });

    /*
     * Iniciando aplicação
     */
    $(function () {
        aposta.__init();
    });

    $('#table-jogos').fixedHeaderTable({height: 500});

    /*
     var mywindow = $(window);
     var mypos = mywindow.scrollTop();
     var up = false;
     var newscroll;
     mywindow.scroll(function () {
     newscroll = mywindow.scrollTop();

     if (newscroll > 190 && !up) {
     $('.thead-topo').addClass("pos-f-top", 400, "easeOutBounce");
     up = !up;
     } else if (newscroll < 190 && up) {
     $('.thead-topo').removeClass("pos-f-top");
     up = !up;
     }

     mypos = newscroll;
     });
     */
</script>

{% endblock %}