<div class="row">

    <div class="col-md-6 col-xs-12">
        <div class="panel info-box panel-white"
             style="border-bottom: 2px solid #2D384A  !important; min-height: 113px;">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter">R$ {{ user.getCredito(true) }}</p>
                    <span class="info-box-title m-b-0">Saldo em Créditos</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-usd"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel info-box panel-white" style="border-bottom: 2px solid #2D384A !important; min-height: 113px;">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter"> {{ resumo['total'] }}</p>
                    <span class="info-box-title">Total de jogos no Sistema</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-futbol-o"></i>
                </div>
            </div>
        </div>
    </div>

</div>